html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

p {
  margin: 0;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	max-width: 1000px;
	margin-top: 50px;
	border: 1px solid #90A4AE;
	border-radius: 10px;
	overflow: hidden;
}

.header {
	position: relative;
	display: flex;
	height: 80px;
	padding: 20px;
	border-bottom: 1px solid #CFD8DC;
	background-color: #ECEFF1;
}

.header-logo {
	height: 100%;
	width: auto;
}

.header-basket {
	position: absolute;
	top: 25px;
	right: 50px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.basket-img {
	width: 100%;
	height: 100%;
}

.basket-content {
	position: absolute;
	right: -40px;
	min-width: 100px;
	min-height: 25px;
	background-color: #CFD8DC;
	border-radius: 3px;
	visibility: hidden;
}

.product {
	display: flex;
	padding: 10px;
}

.slider-container {
	position: relative;
	height: 345px;
	width: 400px;
	overflow: hidden;
}

.image-slider {
	position: relative;
	height: 300px;
	width: 100%;
}

.image-thumbnails {
	display: flex;
	height: 45px;
	width: 100%;
}

.image {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: left .5s linear;
}

.thumb {
	width: 60px;
	height: 45px;
	cursor: pointer;
}

.slide {
	position: absolute;
	top: 135px;
	height: 30px;
	width: 30px;
	background: transparent;
	color: white;
	cursor: pointer;
	font-size: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid white;
	border-radius: 30px;
}

.slide:hover {
	color: black;
	background: white;
}

.slide-left {
	left: 30px;
}

.slide-right {
	right: 30px;
}

.details {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 20px 20px 0;
}

.title {
	font-weight: bold;
	margin-bottom: 10px;
	color: #263238;
}

.description {
	display: flex;
	flex: 1;
	color: #263238;
}

.footer {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.old {
	color: #CFD8DC;
	font-size: 14px;
	text-decoration: line-through;
}

.new {
	color: #546E7A;
	font-size: 18px;
}

.product-basket {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50px;
	background-color: #AED581;
	border-radius: 7px;
	cursor: pointer;
}

.product-basket:hover {
	background-color: #9CCC65;
}

.product-basket:active {
	background-color: #8BC34A;
}

.product-basket-img {
	width: 20px;
	height: 20px;
}

.basket-item {
	margin: 5px;
	white-space: nowrap;
}
